.person{
    border-radius: 50px;
    background-color: rgb(123, 239, 81);
    margin-right: 500px;
    margin-left: 500px;
}

.person .button{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(91, 169, 60);
}

.person .errorMessage{
    color: "red"
}
